body{
    background-color: #141414;
    color: white;
}

ul {
    list-style: none;
}

.menu {
    margin-right: 5px;
    display: inline-block;
}

.listOfContent img , .sugg-content img{
    width: 100px;
    height: 200px;
}

.listOfContent li, .sugg-content li{
    display: inline-block;
    margin-right: 20px;
    background-color: red;
}

button {
    background-color: #9c0202; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}


