* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body{
    background-color: #141414;
    color: white;
    width: 100%;
    margin: auto;
}

main{
    width: 100%;
    margin: auto;
}
ul {
    list-style: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

#title h1{
    margin: 20px 0px 20px 0px;
    font-size: 1.8rem;
}

#title h2{
    margin: 0px 0px 10px 0px;
    font-size: 1.3rem;
}

#content-menu ul {
    display: flex;
    justify-content: center;
}


#content-menu button {
    width: 120px;
    height: 40px;
    background-color: #9c0202be; 
    border: 1.5px solid #141414;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

#btn-1 button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#btn-6 button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    transition-duration: 0.15s;
    cursor: pointer;
  }

#content-menu button:hover {
    background-color: #e2e2e2;
    font-weight: 700;
    color: black;
}

#content {
    width: 100%;
    margin: 5px auto auto auto;
}

#all-content ul, #sugg-content ul {
    width: 70%;
    margin: auto;
    display: flex;
    /* overflow: auto;     used for scrolling horizontally */
    justify-content: center;
}

#all-content ul {
    flex-wrap: wrap;
    margin-top: 5px; 
}


#all-content li, #sugg-content li {
    flex-shrink: 0;
    margin: 1px 10px 10px 0px;
}

.listOfContent img, .sugg-content img {
    width: 120px;
    height: 250px;
    border-radius: 3%;   
}

#upper-content-txt {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start;
    align-items: center;
}

 #selectors {
    width: 150px;
}

#selectors select {
    background-color: white;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    margin-left: 17px;
} 

#sugg-content #might-like {
    width: 70%;
    margin: 15px auto 5px auto;
    text-align: center;
}

#upper-content-txt h4, #sugg-content h4 {
    font-size: 1.3rem;
    padding-right: 35px;
}

#divisor {
    margin: 15px auto;
    background-color: #9c0202be;
    height: 3px;
    width: 65%;
}

 @media (max-width: px) {


} 


