ul {
    list-style: none;
}

.menu {
    margin-right: 5px;
    display: inline-block;
}

.listOfContent img {
    width: 100px;
    height: 200px;
}

.listOfContent li {
    display: inline-block;
    margin-right: 20px;
}

.rec-content > li {
    margin-right: 5px;
    display: inline-block;
}